@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;800&display=swap');
@import "screen";

body {
  background-color: #141414;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
}